<ons-page ng-controller="ProfileController as page" >
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="mySplitter.left.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Profile- Confirm Phone Number</div>
    </ons-toolbar>

    
    <div class="full-height page-bg" style="background-image: url('images/heroes/red.jpg')">
        <div ng-show="pageloaded">
            <div class="page-content-2">

                <div class="profile-page-number-box">
                    <!--    Box 1 -->
                    <div class="profile-page-number-circle completed" style="margin-left: 1.83%;"><span class="profile-page-number">1</span></div><!--
                            horizontal line btw boxes
                        --><div style="display:inline-block; width: 3.66%; box-sizing: border-box; height: 43px;">
                        <div class="draw-line-completed"></div>
                    </div><!--
                            Box 2
                    --><div class="profile-page-number-circle completed"><span class="profile-page-number">2</span></div><!--
                                    horizontal line btw boxes
                        --><div style="display:inline-block; width: 3.66%; box-sizing: border-box; height: 43px;">
                        <div class="draw-line-completed"></div>
                    </div><!--
                                                Box 3
                    --><div class="profile-page-number-circle completed"><span class="profile-page-number">3</span></div><!--
                                                    horizontal line btw boxes
                    --><div style="display:inline-block; width: 3.66%; box-sizing: border-box; height: 43px;">
                        <div class="draw-line-completed"></div>
                    </div><!--
                                                Box 4
                    --><div class="profile-page-number-circle highlight"><span class="profile-page-number">4</span></div><!--
                                                    horizontal line btw boxes
                    --><div style="display:inline-block; width: 3.66%; box-sizing: border-box; height: 43px;">
                        <div class="draw-line"></div>
                    </div><!--
                                                Box 5
                    --><div class="profile-page-number-circle"><span class="profile-page-number">5</span></div><!--
                                                    horizontal line btw boxes
                    --><div style="display:inline-block; width: 3.66%; box-sizing: border-box; height: 43px;">
                        <div class="draw-line"></div>
                    </div><!--
                                                Box 6
                    --><div class="profile-page-number-circle" style="margin-right: 1.83%;"><span class="profile-page-number">6</span></div>
                </div>

                <div class="centre">
                    <p class="profile-bio-p">
                        By requesting, you will be sent a token to confirm the ownership of this phone number.
                    </p>
                    <p class="profile-bio-p">
                        <ons-input class="d-block" id="phone" readonly ng-model="page.phone" modifier="underbar" placeholder="page.phone"></ons-input>
                    </p>
                </div>

                <p class="profile-bio-p">
                    <ons-button class="dashboard-btn" modifier="large" ng-click="page.processsmstoken();">Verify Number</ons-button>
                </p>

            </div>
        </div>
    </div>

    <ons-modal var="loadingModal" direction="up">
        <div style="text-align: center">
            <p>
                <ons-icon icon="md-spinner" size="28px" spin></ons-icon> Loading...
            </p>
        </div>
    </ons-modal>
</ons-page>