<ons-page ng-controller="PasswordresetController as page">
    <ons-toolbar>
        <div class="left"><ons-back-button ng-click="splitter.load('login.html')"></ons-back-button></div>
        <div class="center"><strong>Change Password</strong></div>
    </ons-toolbar>
    <div class="full-height page-bg" style="background-image: url('images/heroes/red.jpg')">
        <div ng-show="pageloaded">
            <div class="page-content">
                <div ng-hide="pageloaded" style="text-align: center; padding-top: 4em">
                    <ons-progress-circular indeterminate ></ons-progress-circular>
                </div>
                <div class="centre" align="absmiddle" style="margin-top: 20px; margin-bottom: 2em" >
                    <span class="img-bg">
                        <img src="images/icons/stash.png" height="50em">
                    </span>
                </div>
                <div style="margin-top: 2.4em;">
                    <p>
                        Your sms has been sent! It might take up to 3 minutes for you to receive it, Kindly be patient.
                    </p>
                    <p>
                        <ons-input class="d-block" id="phone" ng-model="page.phone" modifier="underbar" placeholder="Phone Number"></ons-input>
                    </p>

                    <p>
                        <ons-input class="d-block" id="token" ng-model="page.token" modifier="underbar" placeholder="Token"></ons-input>
                    </p>

                    <p>
                        <ons-input class="d-block" type="password" id="password1" ng-model="page.password1" modifier="underbar" placeholder="Password"></ons-input>
                    </p>

                    <p>
                        <ons-input class="d-block" type="password" id="password2" ng-model="page.password2" modifier="underbar" placeholder="Confirm Password"></ons-input>
                    </p>
                </div>
                <div style="margin-top: 2em" style="padding: 2em;">
                    <ons-button class="d-block carousel-cta text-color-white" modifier="large" ng-click="page.changepassword();">
                        <ons-icon icon="md-envelop"></ons-icon>
                        <span>Reset</span>
                    </ons-button>
                </div>
            </div>
        </div>
    </div>
</ons-page>

